<!-- Button trigger modal -->
<p class="edit-dates" data-bs-toggle="modal" data-bs-target="#updatetripModal">
  Edit
</p>
<!-- Modal -->
<div class="modal fade" id="updatetripModal" tabindex="-1" aria-labelledby="updatetripModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updatetripModalLabel">Change Your Dates</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(trip) do |f| %>
          <div class="form-inputs">
            <%= f.input :start_date, as: :string, input_html: { data: { controller: "flatpickr" } } %>
            <%= f.input :end_date, as: :string, input_html: { data: { controller: "flatpickr" } } %>
          </div>
          <div class="form-actions">
            <div class="d-flex justify-content-center">
              <button class="button"><%= f.button :submit %></button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
