<h1>Show Page - Welcome, <%= @user.name %>!</h1>
<h2>Your preferences   <%= link_to " 🖊 ", profile_edit_path %></h2>
<% if !@user.preferences.nil? %>
  <% @user.preferences.each do |preference| %>
    <p><%= preference.tag.name %></p>
  <% end %>
<% end %>

<%= render "trips/new_trip_modal", trip: @trip %>
