<h1>What do you love to do on vacation?</h1>
<p>Choose your favorite travel preferences:</p>

<br>
<br>
<%# simple_form_for preferences? %>
<%# we want to create a new preference for each tag chosen by a new user %>
<%= simple_form_for(@preference) do |f| %>
    <%= f.association :tag, :as => :check_boxes  %>
    <%= f.submit 'Save Your Preferences!', class: 'btn btn-secondary' %>
<% end %>
