// Define variables for your color scheme

// For example:
$db-green: #CEE6C0;
$ice-cream-pink: #F8BBD5;
$summer-yellow: #FED3A0;
$lavender: #E7D2E7;
$white: #FFFFFF;
$black: black;
$gray: gray;
$light-gray: #979797;
$blue: blue;
$green: green;
$red: red;
$orange: orange;
$yellow: yellow;



// make a new variable, name of the color i want after the $
// add the code for the colors
//  setting the colors in variables to reuse in the front end design
