.experience-title{
color: white;
height: 241px;
text-align: center;
font-size: medium;
background-size: cover;
border-radius: 15px;
display: flex;
flex-direction: column;
justify-content: center;


}
.experience-tag{
  display: flex;
}
