<div class="city-card">
  <img src="https://images.unsplash.com/photo-1559682468-a6a29e7d9517?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
  <div class="city-card-info">
    <p>City Name</p>
  </div>
