<div class="edit-delete">
  <%= link_to edit_experience_path(experience) do %>
    <%# <i class="fa-light fa-pen-to-square"></i> %>
    <p>Edit</p>
  <% end %>
  <%= link_to edit_experience_path(experience) do %>
    <%# <i class="fa-solid fa-trash-can-xmark"></i> %>
    <p>Delete</p>
  <% end %>
</div>
