<div class="local-user-card">
  <img src="https://images.unsplash.com/photo-1579724984996-c2d12999e8f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80" alt="">
  <div class="user-info">
    <p>Posted By:</p>
    <p><%= @experience.local_id %></p>
  </div>
</div>
