<div class="navbar-bottom">

    <%= link_to profile_path do %>
      <i class="fa-regular fa-user"></i>
      <p>MY PROFILE</p>
    <% end %>

  <%= link_to new_experience_path do %>
    <i class="fa-solid fa-plus"></i>
    <p>CREATE EXPERIENCE</p>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to local_experiences_path do %>
      <i class="fa-solid fa-compass"></i>
      <p>MY EXPERIENCES</p>
    <% end %>
  <% else %>
    <%= link_to experiences_path do %>
      <i class="fa-solid fa-compass"></i>
      <p>ALL EXPERIENCES</p>
    <% end %>
  <% end %>

</div>
