<% render 'shared/navbar' %>

<div class="home-background">
<%= cl_image_tag("https://res.cloudinary.com/dqxyjgr8m/image/upload/v1669648766/local/new-logo-local_Small_ck67wa.jpg",
      width: 100, height: 100, crop: :fill) %>
  <h4>To Find Culture, Go Local</h4>
  <a class="btn btn-ghost" href="#">Get Started</a>
</div>

<%# need a button, design in figma first %>
<%# how do I center the text and everything (logo, button) in the middle vertically? %>
<%# need a version of the v2 logo with no whitespace %>
