<% render 'shared/navbar' %>

<div class="home-background">
  <%= image_tag "new-logo-local-small.jpg", style: "width: 80px; height: 80px" %>
  <h4>To Find Culture, Go Local</h4>
  
  <% if user_signed_in? %>
    <% if current_user.preferences.size == 0 %>
      <%= link_to "Get Started", survey_path, class: "btn btn-ghost" %>
    <% else %>
      <%= link_to "My Profile", profile_path, class: "btn btn-ghost" %>
    <% end %>
  <% else %>
    <%= link_to "Sign Up", new_user_session_path, class: "btn btn-ghost" %>
  <% end %>
</div>
