<% render 'shared/navbar' %>

<div class="home-background">
  <%= image_tag "new-logo-local-small", class: "new-logo-local" %>
  <h4>To Find Culture, Go Local</h4>
  <a class="btn btn-ghost" href="#">Get Started</a>
</div>

<%# need a button, design in figma first %>
<%# how do I center the text and everything (logo, button) in the middle vertically? %>
<%# need a version of the v2 logo with no whitespace %>
