  <h1>All Local Experiences</h1>

  <% @experiences.each do |experience| %>
      <%= render 'shared/experience_card', experience: experience %>
      <%# <%= link_to "View This Experience", experience_path(experience) %>
  <% end %>
