<h1>Hello, <%= @user.name %>!</h1>

<h3>Your Experiences</h3>
  <% @experiences.each do |experience| %>
      <%= render 'shared/experience_card', experience: experience %>
  <% end %>

<%= render 'shared/top_bar' %>
