<% if @selected_experiences.size.positive?  %>
<br>
<h3 class="text-center">We found <%= pluralize @selected_experiences.size, "suggestion" %> for you:</h3>
<br>

    <% @selected_experiences.each do |experience| %>

      <%= render 'my_experience_card', trip: @trip, experience: experience %>
      <br>

    <% end %>

<% else %>
  <h1>Sorry, we didn't find any suggestion in <%= @trip.city %> according to your preferences.</h1>
<% end %>
<div class="d-flex justify-content-center">
  <button class="button"><%= link_to "I'm done with my trip", trip_path(@trip) %></button>
</div>
