.edit-delete {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;

  a {
    display: flex;
    color: #979797;
  text-decoration: none;
  }
}
