.preference-tag-selected {
  width: 150px;
  height: 55px;
  border: 2px solid;
  border-radius: 15px;
  border-color: #EAEAEA;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
  }
}
