.preference-tag {
  width: 150px;
  height: 55px;
  border: 2px solid;
  border-radius: 15px;
  border-color: #CEE6C0;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  p {
    margin: 0;
  }
}
