form.simple_form {
  &.new_review {
    input {
      text-decoration: none;
      background-color: #F8BBD5;
      border: 1px solid;
      padding: 10px;
    }
  }

}

// form.simple_form {
//   &.new_experience {
//     input {
//       text-decoration: none;
//       background-color: #F8BBD5;
//       border: 1px solid;
//       padding: 10px;
//     }
//   }
// }
